/*general styles*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-accent: #eda35f;
  --color-black: #0d0d0d;
  --color-dark-white: #f2f2f2;
  --color-white: #ffffff;
  --color-dark-gray: #333333;
  --color-dark-card: #989898;
  --color-opacity-gray: rgba(152, 152, 152, 0.5);
  --box-shadow-card: 0px 4px 14px 2px rgba(0, 0, 0, 0.16);
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-dark-white);
}

ul,
li {
  list-style: none;
}

a {
  display: block;
}

.line {
  display: block;
  width: 130px;
  height: 2px;
  margin: 1rem auto;
  background-color: var(--color-opacity-gray);
}

/*menu*/

.menu-container {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1072px;
  width: 100%;
  height: 4.8rem;
  padding: 27px 24px;
  margin: 0 auto;
  background-color: var(--color-accent);
}

.left-link li a,
.right-link li a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.left-link li a:hover,
.right-link li a:hover {
  color: var(--color-white);
}

/*heading block*/

.heading-block-container {
  width: 100%;
  max-width: 1072px;
  margin: 3.8rem auto;
}

.heading-block-content {
  text-align: center;
  margin: 0 auto 64px auto;
}

.heading-block__h1 {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--color-black);
  transition: all ease 0.5s;
}

.heading-block__h1:hover {
  color: var(--color-accent);
}

.heading-block__paragraphy {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--color-dark-gray);
}

/*products card*/

.products-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1072px;
  gap: 32px;
  margin: 3.8rem auto;
}

.products-card-container {
  position: relative;
  width: 336px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: var(--color-white);
  border-radius: 8px;
  background-color: var(--color-black);
  box-shadow: var(--box-shadow-card);
}

.products-card__img {
  width: 100%;
  height: 200px;
}

.products-card-container h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  line-height: 28px;
  margin: 1.5rem auto;
  color: var(--color-white);
}

.products-card-container button {
  padding: 10px;
  gap: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  border-radius: 4px;
  color: var(--color-black);
  background-color: var(--color-accent);
  cursor: pointer;
}

/*footer*/

footer {
  max-width: 1072px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-black);
}

.date::after {
  content: "\a";
  white-space: pre;
}

@media screen and (min-width: 580px) {
  /*will do a brake line on the footer */

  .footer {
    font-size: 1.6rem;
  }

  .date::after {
    content: "";
  }
}

/*buy modal*/

.buy-modal.show {
  display: block;
}

.buy-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  background-color: var(--color-opacity-gray);
}

.buy-modal-container {
  position: relative;
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  background-color: var(--color-dark-white);
}

.buy-modal-close__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -30px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  cursor: pointer;
  border: 3px solid #eda35f;
  background-color: var(--color-white);
}

.buy-modal-close__btn img {
  width: 35px;
  height: 35px;
}

.buy-modal-container h3 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 47px;
  text-align: center;
  margin-bottom: 23px;
  color: var(--color-dark-gray);
}

.buy-modal-container img {
  width: 100%;
  max-width: 330px;
}

.buy-modal-sizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  margin: 1.5rem auto;
}

.buy-modal-sizes button {
  width: 120px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  border: 1px solid #0d0d0d;
  border-radius: 100px;
  cursor: pointer;
  color: var(--color-dark-gray);
}

.buy-modal-sizes button:hover {
  transition: all 0.6s ease-in-out;
  color: var(--color-black);
  background-color: var(--color-accent);
}

.buy-modal__price {
  font-size: 3rem;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 1.5rem;
  color: var(--color-dark-gray);
}

.buy-modal__btn {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  width: 400px;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--color-accent);
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 850px) {
  .buy-modal-container {
    position: relative;
    width: 400px;
    margin: 3rem auto;
  }

  .buy-modal-close__btn {
    top: -20px;
    right: -20px;
    width: 65px;
    height: 65px;
  }

  .buy-modal-close__btn img {
    width: 30px;
    height: 30px;
  }

  .buy-modal-container h3 {
    font-size: 1.5rem;
  }

  .buy-modal-container img {
    width: 100%;
    max-width: 200px;
  }

  .buy-modal-sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 1.5rem auto;
  }

  .buy-modal-sizes button {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }

  .buy-modal__price {
    font-size: 2.5rem;
  }

  .buy-modal__btn {
    display: block;
    font-size: 1.8rem;
    width: 300px;
    padding: 1rem;
  }
}

@media screen and (max-width: 470px) {
  .line {
    margin: 0 auto;
  }

  .buy-modal-container {
    width: 390px;
  }

  .buy-modal-sizes {
    display: block;
    gap: 1rem;
    width: 100%;
    margin: 1.5rem auto;
  }

  .buy-modal-sizes button:nth-child(1) {
    margin: 0 auto;
  }

  .buy-modal-sizes button {
    display: block;
    width: 60%;
    font-size: 1rem;
    margin: 1rem auto;
  }

  .buy-modal__price {
    margin: 1rem auto 0.8rem auto;
  }
}

/*out of stock modal*/

.out-modal-container {
  opacity: 0;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-opacity-gray);
  transition: opacity 8s ease;
}

.out-modal {
  position: fixed;
  top: 30%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  border: 4px solid var(--color-accent);
  box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.226);
  background-color: var(--color-dark-white);
}

.out-modal p {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: var(--color-black);
}

.out-modal a {
  display: block;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent);
}

.out-modal-container.show {
  display: flex;
  opacity: 1;
}
